* {
    font-family: 'Times New Roman', Times, serif;
}

.judul h1 {
    color: #2C6F56;
    margin: 28px;
    font-size: 28px;
    font-weight: bold;
}

.tabel-warga {
    width: 80%;
    margin-left: 28px;
    border-collapse: collapse;
    overflow-x: scroll;
}

.tabel-warga::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #2C6F56;
}

*::webkit-scrollbar{
    display: none;
}

th, td {
    border: 2px solid #2C6F56;
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: #2C6F56;
    color: #fff;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f5f9f7;
}

tr:hover {
    background-color: #dcefe7;
}

a {
    color: #2C6F56;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

td[colspan] {
    text-align: center;
    font-style: italic;
}

td .aksi{
    display: flex;
    flex-direction: column;
}


.pencarian {
    margin: 28px;
}

.input-cari {
    padding: 6px 10px;
    border: 1px solid #2C6F56;
    border-radius: 6px;
    width: 250px;
}

.btn-cari {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn-cari:hover {
    background-color: #0056b3;
}


.loader {
    border: 4px solid #f3f3f3; /* background */
    border-top: 4px solid #2C6F56; /* warna utama */
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.daftar-rt{
    margin: 28px;
}
.daftar-rt a, .daftar-rt h1 {
    font-size: 18px;

}
